:host {
    display: block;
    margin: auto;
    max-width: 80%;
    margin-top: 15px;
}

td {
    padding: 10px;
}

table {
    margin: auto;
    margin-top: 50px;
}

tr:nth-of-type(odd){
    background-color: beige;
}

#header {
    display: flex;
    max-width: 70%;
    margin: auto;
    justify-content: space-between;
    & > * {
        margin: 10px;
    }
    & input {
        max-width: 180px;
        border-radius: 10px;
        padding: 10px;
        margin-left: 20px;
        border: 1px solid green;
    }
    & input[type="checkbox"] {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin-left: 20px;
    }
}

@media(max-width: 1200px) {
    #header {
        flex-direction: column;
        & div > * {
            margin: 10px;
        }
    }
    :host {
        max-width: 98%;
    }
    td {
        padding: 25px;
    }
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	thead th { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
    }
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	td:nth-of-type(1):before {
        content: "ID";
    }
	td:nth-of-type(2):before {
        content: "Никнейм";
    }
	td:nth-of-type(3):before {
        content: "Имя";
    }
	td:nth-of-type(4):before {
        content: "Фамилия";
    }
	td:nth-of-type(5):before {
        content: "Активность";
    }
	td:nth-of-type(6):before {
        content: "Последний вход";
    }
	td:nth-of-type(7):before {
        content: "Суперпользователь";
    }
	td:nth-of-type(8):before {
        content: "Dream Vacation City";
    }
	td:nth-of-type(9):before {
        content: "GPA";
    }
	td:nth-of-type(10):before {
        content: "Arbitrary Data";
    }

}